<div class="card">
  <div class="card-content">
    <h2 class="title is-2 has-text-centered">Registrarse</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="container-form">
          <div class="field">
            <%= f.label :nombre_completo, class:"label"%>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"input" %>
          </div>
          <div class="field">
            <%= f.label :email, class:"label"%>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input" %>
          </div>

          <div class="field">
            <%= f.label :contraseña, class:"label" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres minimo)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class:"input" %>
          </div>

          <div class="field">
            <%= f.label :confirmar_contraseña, class:"label"%>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input" %>
          </div>

          <hr>

          <div class="is-grouped">
            <div class="is-grouped-centered">
              <div class="has-text-centered">
                <%= f.submit "Registrarse", class:"button is-info is-medium is-outlined" %>
              </div>
            </div>
          </div>

        </div>

      <div class="has-text-centered">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>
</div>
