<div class="card">
  <div class="card-content">
    <h2 class="title is-2 has-text-centered">Registrarse</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-control">
        <%= f.label :email, class:"label"%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input" %>
      </div>

      <div class="form-control">
        <%= f.label :contraseña, class:"label" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres minimo)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"input" %>
      </div>

      <div class="form-control">
        <%= f.label :confirmar_contraseña, class:"label"%>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input" %>
      </div>

      <hr>

      <div class="has-text-centered">
        <%= f.submit "Registrarse", class:"button is-info is-large is-fullwidth" %>
      </div>
      <div class="has-text-centered">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>
</div>
