

<script>
  document.addEventListener("turbolinks:load", function() {
  var products = [];

  try {
    console.log("A ver");

    if (
      JSON.parse(localStorage.getItem("products")) != null ||
      JSON.parse(localStorage.getItem("products")) != undefined
    ) {
      console.log("A ver 1");
      products = JSON.parse(localStorage.getItem("products"));
    }
  } catch (er) {
    console.log(er);
  }

  function commitProducts() {
    localStorage.setItem("products", JSON.stringify(products));
    try {
      document.getElementById("cart_container").innerHTML = "";
    } catch (e) {
      console.log(e);
    }
    renderCartProducts();
  }

  

  function deleteProductFromCart(id) {
    for (let i = 0; i < products.length; i++) {
      if (products[i].id === id) {
        products.splice(i, 1);
      }
    }

    toastr.error(
      "Eliminado del carrito!",
      "El producto se ha eliminado del carrito"
    );

    commitProducts();
  }

  function renderCartProducts() {
    try {
      let cartContainer = document.getElementById("cart_container");

      if (cartContainer != null) {
        let total = 0;

        if (products.length > 0) {
          products.forEach(product => {
            cartContainer.innerHTML += `<div class="navbar-item"><button onClick="deleteProductFromCart(${
              product.id
            })" class="button is-danger is-small">
    <span class="icon"><i class="fas fa-times"></i></span></button>
                      <span class="has-text-black">${product.name}</span>
                      <hr class="navbar-divider"></div>`;

            total += parseInt(product.price);
          });

          document.getElementById("total_text").style.display = "block";
          document.getElementById(
            "total_text"
          ).innerHTML = `<b>Total: </b>$${total}`;
        } else {
          document.getElementById("total_text").style.display = "none";
          cartContainer.innerHTML = `<div class="navbar-item"><p class="has-text-black">No has agregado productos al carrito</p></div>`;
        }
      }
    } catch (e) {
      console.log(e);
    }
  }

  renderCartProducts();
});

</script>


<div class="section">
  <div class="container">
    <h1 class="title is-1 has-text-centered">Bienvenido a nuestro marketplace!</h1>

    <div class="card search-card">
      <div class="card-content">

        <div id="search_input">
        </div>

        <ul id="hits" class="menu-list">
        </ul>
      </div>
    </div>
    <div class="container-pagination" id="show-products">
      <% @products.each do |product| %>
        <div class="card">
          <div class="card-content">
            <% unless product.product_pictures.empty? %>
              <%= image_tag(product.product_pictures[0].url, class: "image image-home") %>
            <% else %>
              <img src="" alt="No hay imagen para mostrar"><br>
            <% end %>
            <%= link_to product.name, product %>
            <p><b>Precio: </b> <%= product.price %></p>
            <button class="button" onClick="let product = {
              id: <%= product.id %>,
              name: '<%= product.name %>',
              price: '<%= product.price %>'
            }
            
            if (products.filter(p => p.id === product.id).length === 0) {
              products.push(product);
              toastr.success(
                'Agregado al carrito!',
                'El producto se ha agregado al carrito'
              );
              return commitProducts();
            }

            toastr.warning('Ese producto ya esta en el carrito', 'Info!');
            
            ">Agregar al carrito</button>
          </div>
        </div>
      <% end %>
      <% if (@products.empty?) %>
        No hay productos aún
      <% end %>
    </div>
  </div>
</div>
