<div class="section">
  <div class="container">
    <h1 class="title is-1 has-text-centered">Bienvenido a nuestro marketplace!</h1>

    <div class="card search-card">
      <div class="card-content">

        <div id="search_input">
        </div>

        <ul id="hits" class="menu-list">
        </ul>
      </div>
    </div>
    <div class="container-pagination" id="show-products">
      <% @products.each do |product| %>
        <div class="card">
          <div class="card-content">
            <% unless product.product_pictures.empty? %>
              <%= image_tag(product.product_pictures[0].url, class: "image image-home") %>
            <% else %>
              <img src="" alt="No hay imagen para mostrar"><br>
            <% end %>
            <%= link_to product.name, product %>
            <p><b>Precio: </b> <%= product.price %></p>
            <button class="button" onClick="function () {let product = {
              id: <%= product.id %>,
              name: '<%= product.name %>',
              price: '<%= product.price %>'
            };

            var products = [];

            try {
              if (
                JSON.parse(localStorage.getItem('products')) != null ||
                JSON.parse(localStorage.getItem('products')) != undefined
              ) {
                console.log('A ver 1');
                products = JSON.parse(localStorage.getItem('products'));
              }
            } catch (er) {
              console.log(er);
            }
            
            if (products.filter(p => p.id === product.id).length === 0) {
              products.push(product);
              toastr.success(
                'Agregado al carrito!',
                'El producto se ha agregado al carrito'
              );
              localStorage.setItem('products', JSON.stringify(products));
                try {
                  document.getElementById('cart_container').innerHTML = '';
                } catch (e) {
                  console.log(e);
                };
            } else {
              toastr.warning('Ese producto ya esta en el carrito', 'Info!');
            }            
            }">Agregar al carrito</button>
          </div>
        </div>
      <% end %>
      <% if (@products.empty?) %>
        No hay productos aún
      <% end %>
    </div>
  </div>
</div>
