<h1 class="title is-1 has-text-centered">Ofertas!</h1>

<div class="container-pagination">
    <div class="card">
      <div class="card-content">
          <%= image_tag("http://localhost:3000/uploads/product/product_pictures/11/munecas-de-hoja-de-maiz-artesania-mexicana-D_NQ_NP_996675-MLM28923573032_122018-F.jpg", class: "image image-home") %>

        <%= link_to "Muñecas", "#" %>
        <p class="line-through"><b>$1234</b></p>
        <p><b>Precio: </b> $900</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
          <%= image_tag("http://localhost:3000/uploads/product/product_pictures/12/pareja-indios-apaches-resina-artesania-mexicana-01-D_NQ_NP_667712-MLM28783902610_112018-F.jpg", class: "image image-home") %>
        <%= link_to "Pareja indigena", "#" %>
        <p class="line-through"><b>$1234</b></p>
        <p><b>Precio: </b> $900</p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
          <%= image_tag("http://localhost:3000/uploads/product/product_pictures/10/poncho-blanco-tradicional-mexicano-poncho-pancho-D_NQ_NP_884451-MLM28595935999_112018-F.jpg", class: "image image-home") %>
        <%= link_to "Poncho blanco", "#" %>
        <p class="line-through"><b>$1234</b></p>
        <p><b>Precio: </b> $900</p>
      </div>
    </div>
</div>
