<div class="card">
  <div class="card-content">
    <h2 class="title is-2 has-text-centered">Iniciar Sesión</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class:"label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input" %>
      </div>

      <div class="field">
        <%= f.label :contraseña, class:"label" %>
        <%= f.password_field :password, autocomplete: "current-password", class:"input" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="control">
          <div class="checkbox">
            <%= f.check_box :remember_me, type:"checkbox" %>
            <%= f.label :remember_me %>
          </div>
        </div>
      <% end %>

      <hr>
      <div class="has-text-centered">
        <%= f.submit "Iniciar Sesión", class:"button is-info is-large is-fullwidth" %>
      </div>
      <div class="has-text-centered">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
