<%= form_with(model: @product, local: true) do |form| %>
  <div class="form-control">
    <%= form.label :nombre, class:"label has-text-white" %>
    <%= form.text_field :name, class:"input" %>
  </div>

  <div class="form-control">
    <%= form.label :precio, class:"label has-text-white" %>
    <%= form.text_field :price, class:"input" %>
  </div>

  <div class="form-control">
    <%= form.label :cantidad, class:"label has-text-white" %>
    <%= form.text_field :quantity, class:"input" %>
  </div>

  <div class="form-control">
    <%= form.label :descripción, class:"label has-text-white" %>
    <%= form.text_area :description, class:"textarea" %>
  </div>

  <hr class="spacer">

  <%= form.submit :Guardar, class: "button is-info is-medium" %>

<% end %>