<!DOCTYPE html>
<html>
  <head>
    <title>Quetzaat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" href="/assets/logo.jpeg" type="image/x-icon">
    
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.32.1/dist/algoliasearchLite.js" integrity="sha256-pMaJf0I78weeXGkRMBDO6jSulxC/q3sb0aPdtV2N8n0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@3.2.0" integrity="sha256-/8usMtTwZ01jujD7KAZctG0UMk2S2NDNirGFVBbBZCM=" crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default,Array.prototype.find,Array.prototype.includes"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.1.1/themes/algolia-min.css" integrity="sha256-nkldBwBn2NQqRL1mod7BqHsJ6cEOn6u/ln6F/lI4CFo=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar is-info">
      <div class="navbar-brand">
        <%= link_to root_path do %>
          <h1 class="has-text-centered title is-1 has-text-white">Quetzaat</h1>
        <% end %>
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
          <% if(user_signed_in?) %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Productos
              </a>
              <div class="navbar-dropdown">
                <%= link_to 'Mis Ventas', "/my-sales", class: "navbar-item" %>
                <%= link_to "Agregar producto", new_product_path, class: "navbar-item" %>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Categorias
              </a>
              <div class="navbar-dropdown">
                <%= link_to "Ropa", "/products/category/ropa", class: "navbar-item" %>
                <%= link_to "Artesanias", "/products/category/artesanias", class: "navbar-item" %>
              </div>
            </div>
            
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Pedidos
              </a>
              <div class="navbar-dropdown">
                <%= link_to 'Mis Ventas', "/my-sales", class: "navbar-item" %>
                <%= link_to 'Mis Ordenes', "/my-orders", class: "navbar-item" %>
              </div>
            </div>

            <div id="cart-shop" class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link is-arrowless" href="/cart-shop">
                Carrito de compra <span class="icon">
                  <i class="fas fa-shopping-cart"></i>
                </span>
              </a>
              <div class="navbar-dropdown" id="navbar-dropdown">
                <div id="cart_container">
                </div>
                <p class="has-text-black has-text-right" id="total_text"></p>
              </div>
            </div>
            <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "navbar-item" %>
          <% else %>
            <%= link_to "Registrarse", new_user_registration_path, class: "navbar-item" %>
            <%= link_to "Iniciar Sesión", new_user_session_path, class: "navbar-item" %>
          <% end %>
          <%= link_to "Ofertas", "/offers", class:"navbar-item" %>
          <%= link_to "Acerca de", "/about", class: "navbar-item" %>
        </div>


      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="columns column-footer">
          <div class="column">
            <h3 class="subtitle is-3">Quetzaat</h3>
            <p>Somos una plataforma de E-commerce desarrollada para funcionar como marketplace para los artesanos locales.</p>
            <p>Eres un artesano o te gustaría vender los productos que haces desde casa, Quetzaat es la plataforma que buscas para distribuir tu pequeño negocio o bien empezarlo, solo necesitas registrarte y comenzar a vender</p>

            <hr class="spacer">

            <div class="tag is-link">Facebook</div>
            <div class="tag is-danger">YouTube</div>
            <div class="tag is-info">Twitter</div>
          </div>
          <div class="column">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3712.5549406281184!2d-101.21985243992764!3d21.485972854116998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfb059c8668e7f7d5!2sMonumento+al+Indio!5e0!3m2!1ses!2smx!4v1554738391754!5m2!1ses!2smx" width="600" height="750" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <p class="has-text-centered has-text-black">Hecho con ❤️ por Quetzaat.</p>
      </div>
    </footer>

    <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
    <script type="text/javascript" data-turbolinks-eval=false>
        console.log("I'm only run once on the initial page load");
    </script>
    <%= javascript_include_tag 'application', "data-turbolinks-suppress-warning": "", media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  </body>
</html>
